
*.ipch
*.db
*.log
*.user
*.aux
*.out
*.nav
*.snm
*.synctex
*.synctex(busy)
*.obj
*.tlog
*.idb
*.pdb
*.exe
*.ilk
*.opendb
*.db-shm
*.db-wal
code/.vs/examples/v15/.suo
code/.vs/examples/v15/.suo
code/.vs/examples/v15/.suo
code/.vs/examples/v15/.suo
*.toc
*.vrb
homework/
*.enc
